name: Node.js UI APP CI/CD

on:
    push:
        branches:
            - master
            - feature**
    workflow_dispatch:
    pull_request:
        branches: ["main"]
jobs: 
    lint-analyasis:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: setup node
              uses: actions/setup-node@v3
              with: 
                node-version: 18
            - name: cache dependency nodemodules
              id: cache
              uses: actions/cache@v3
              with: 
                path: node_modules
                key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: install dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: lint
              run: npm run lint
    
    test: 
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install dependencies
              run: npm install
            - name: Run tests
              id: run-test
              run: npm test
            - name: Upload test report
              if: failure() && steps.run-test.outputs == 'failure'
              uses: actions/upload-artifact@v4
              with: 
                name: test-report
                path: test.json
        
    sonar-analysis:
        runs-on: ubuntu-latest

        steps: 
            - name: checkout repo
              uses: actions/checkout@v4
            - name: setup java 
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '17'
            - name: cache sonarcloud packages
              uses: actions/cache@v3
              with: 
                path: ~/.sonar/cache
                key: sonar-${{ runner.os }}
            - name: cache sonarcloud scanner
              uses: actions/cache@v3
              with: 
                path: ~/.sonar/native-sonar-scanner
                key: scanner-${{ runner.os }}
            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@master
              with:
                projectBaseDir: .
                args: >
                  -Dsonar.organization=Dhanalakshmi
                  -Dsonar.projectKey=DhanalakshmiBC_dockerHub-ECR-push-pipeline
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                 

            

