name: Node.js UI APP CI/CD

on:
    push:
        branches:
            - master
            - develop
            - feature**
    workflow_dispatch:
    pull_request:
        branches: ["main"]
jobs: 
    lint-analyasis:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: setup node
              uses: actions/setup-node@v3
              with: 
                node-version: 18
            - name: cache dependency nodemodules
              id: cache
              uses: actions/cache@v3
              with: 
                path: node_modules
                key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: install dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm install
            - name: lint
              run: npm run lint
    
    test: 
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install dependencies
              run: npm install
            - name: Run tests
              id: run-test
              run: npm test
            - name: Upload test report
              if: failure() && steps.run-test.outputs == 'failure'
              uses: actions/upload-artifact@v4
              with: 
                name: test-report
                path: test.json
        
    sonar-analysis:
        runs-on: ubuntu-latest

        steps: 
            - name: checkout repo
              uses: actions/checkout@v4
            - name: Set up Java 17
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '17'
        
            - name: Install SonarScanner CLI
              run: |
                wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
                unzip sonar-scanner-cli-5.0.1.3006-linux.zip
                mv sonar-scanner-5.0.1.3006-linux $HOME/sonar-scanner
        
                echo "$HOME/sonar-scanner/bin" >> $GITHUB_PATH
        
            - name: SonarCloud Scan
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: |
                sonar-scanner \
                  -Dsonar.projectKey=DhanalakshmiBC_dockerHub-ECR-push-pipeline \
                  -Dsonar.organization=dhanalakshmibc \
                  -Dsonar.sources=. \
                  -Dsonar.host.url=https://sonarcloud.io \
                  -Dsonar.login=${{ secrets.SONAR_TOKEN }}
    snyk-scan:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v4
              with:
                node-version: '18'
            - run: npm ci
            - name: Install Snyk CLI
              run: npm install -g snyk
      
            - name: Authenticate Snyk
              run: snyk auth ${{ secrets.SNYK_TOKEN }}
      
            - name: Fast Snyk Test (no Docker, no extra checks)
              run: snyk test --severity-threshold=high
                
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                node-version: 18
            - uses: actions/cache@v3
              with: 
                path: node_modules
                key: dep-node-modules-${{ hashFiles('**/package-lock.json')}}
            - run: npm ci
            - run: npm run build
            - run: echo 'Deploying....'
            - name: upload artifacts
              uses: actions/upload-artifact@v4
              with: 
                name: dist-files
                path: dist
    ecr-push:
        runs-on: ubuntu-latest
        env:
           ECR_REPOSITORY: docker-images-for-nodejs
           IMAGE_TAG: ${{ github.sha }}
        steps: 
            - uses: actions/checkout@v3
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:  
                 aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                 aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                 aws-region: ${{ secrets.AWS_REGION }}
            - name: Login to Amazon ECR
              id: ecr-login
              uses: aws-actions/amazon-ecr-login@v2
            - name: Docker image
              run: docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
            - name: Scan docker image with trivy
              uses: aquasecurity/trivy-action@0.19.0
              with: 
                image-ref: ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
                format: 'table'
                exit-code: '1'
                ignore-unfixed: true 
                vuln-type: 'os,library'
                severity: 'CRITICAL'
            - name: Push docker image to aws ecr
              run: |
                 ECR_REGISTRY="$(aws sts get-caller-identity --query 'Account' --output text).dkr.ecr.${AWS_REGION}.amazonaws.com"
                 docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
                 docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          
            - name: clone repo
              run: |
                git clone https://github.com/DhanalakshmiBC/helm-chart-for-node-app.git
                ls -R helm-chart-for-node-app

            - name: update values file
              run: |
                sed -i "s/tag:.*/tag: \"$IMAGE_TAG\"/" helm-chart-for-node-app/dhanu-cluster/values.yaml

            - name: commit changes 
              run: |
                cd helm-chart-for-node-app
                git config user.email "dhanalakshmi.bc@github.com"
                git config user.name "DhanalakshmiBC"
                git add dhanu-cluster/values.yaml
                git commit -m "Update image tag to $IMAGE_TAG" 
                git push https://x-access-token:${{ secrets.HELM_TOKEN}}@github.com/DhanalakshmiBC/helm-chart-for-node-app.git
